# Default target for builds (but not tests)
# Tests should run on the host target
# 
# NOTE: The tests in tests/wasm_test.rs test WASM-specific functions that
# depend on web-sys, which only compiles for wasm32-unknown-unknown.
# These tests cannot run on the host target due to WASM-only dependencies.
#
# To run other tests (like client_tests, sync_tests) on host:
#   cargo test --target $(rustc -vV | grep host | cut -d' ' -f3)
#
# For wasm_test, the functions are tested as part of the WASM build process.
[build]
target = "wasm32-unknown-unknown"

[target.wasm32-unknown-unknown]
rustflags = ["--cfg=web_sys_unstable_apis"]
